#brand {
    max-height: 40px;
    width: auto;
}

#logo {
    max-height: 120px;
    width: auto;
}

#name {
    font-size: 3rem;
    font-family: Fugaz One, sans-serif;
}

#login {
    max-width: 500px;
}

#genres-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: auto;
    gap: 5px;
}

#payment {
    max-width: 500px;
}

#page {
    text-align: center;
    max-width: 30px;
}

#stars-form input {
    height: 40px;
    padding: 6px 10px;
    font-size: 16px;
}

#autocomplete {
    width: 250px;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}